div.month {
    background-color: #AAAAAA;
    width: 810px;
    height: 580px;
    margin: 0 auto;
}

div.day {
    width: 100px;
    height: 100px;
    float: left;
    margin: 5px 0px 0px 5px;
    padding: 5px;
}

div.current-month-day {
    background-color: #EEEEEE;
}

div.current-month-day:hover {
    background-color: #DDDDDD;
}

div.another-month-day {
    /*visibility: hidden;*/
    background-color: #CCCCCC;
    color: #777777;
}

span.day-number {
    float: left;
}

span.day-name {
    float: right;
}

div.clear {
    clear: both;
}
